body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    margin: 0;
    padding: 0;
    background-color: #1e3d59 !important; /* Body Color */
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 120px);
    background-color: #e5e5dc; /* Main Color */
    color: #ff6e40; /* Body Text Color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item {
    margin: 0 0.3em;
}

header .navbar-brand {
    margin: 15px 0.5em 0 0.5em;
    color: #f5f0e1; /* Page Title Color */
}

header .navbar-brand:hover {
    color: #f5f0e1; /* Page Title Color */
}

.navbar-nav .nav-link {
    color: #ffc13b; /* Inactive Page Link Color */
}

.navbar-nav .nav-link:hover {
    color: #ff6e40; /* Inactive Page Link Hover Color */
}

.navbar-nav .nav-item .nav-link.active {
    color: #f5f0e1; /* Active Page Link Color */
}

footer.text-dark {
    color: #ffc13b !important; /* Footer Text Color */
}

footer a {
    float: right;
    padding-right: 1em;
    color: #ffc13b; /* Footer Github URL Color */
}

.text-reset {
    padding-left: 1em;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

@media (max-width: 475px) {
    menu .nav-item {
        font-size: 0.8rem;
    }

    header .navbar-brand {
        font-size: 0.8rem;
    }
}