body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
    background-color: #1e3d59 /* Header Color */
}

main {
    flex: 1 calc(100vh - 120px);
}

footer {
    flex: 0 40px;
    background-color: #1e3d59; /* Footer Color */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

body.bg-dark {
    background-color: #e5e5dc !important; /* Body Color */
}

menu .nav-item {
    margin: 0 0.5em;
}

header .navbar-brand {
    margin: 15px 0.5em 0 1em;
    color: #f5f0e1; /* Page Title Color */
}

header .navbar-brand:hover {
    color: #f5f0e1; /* Page Title Color */
}

.navbar-nav .nav-link {
    color: #ffc13b; /* Inactive Page Link Color */
}

.navbar-nav .nav-link:hover {
    color: #ff6e40; /* Inactive Page Link Hover Color */
}

.navbar-nav .nav-item .nav-link.active {
    color: #f5f0e1; /* Active Page Link Color */
}

footer.text-dark {
    color: #ffc13b !important; /* Footer Text Color */
}

footer a {
    float: right;
    padding-right: 1em;
    color: #ffc13b; /* Footer Github URL Color */
}

.text-reset {
    padding-left: 1em;
}

h1 {
    color: #ff6e40; /* Body Text Color */
}




#board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 5px;
}

td {
    background-color: #000080;
    color: #FF0000;
    padding: 10px;
}